div.ui.inverted.segment {
  margin: 0;
  border-radius: 0;
  color: #fff;
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.ui.secondary.inverted.pointing.menu .item {
  font-family: Avenir-Light, Courier, monospace !important;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.ui.secondary.inverted.pointing.menu .active.item {
  border: none;
}

.ui.secondary.inverted.pointing.menu {
  padding: 0 30px;
}
