.ui.form .field > label {
  color: #fff !important;
  font-size: 16px !important;
  padding-bottom: 10px;
}

input.subscribe-input {
  border-radius: 20px 0 0px 20px !important;
  background-color: #222222 !important;
  flex-grow: 2 !important;
}

div.ui.action.input {
  border-radius: 20px !important;
  display: flex !important;
  flex-direction: row !important;
}

div.ui.button {
  background: #222222 !important;
  border: 1px solid #878787 !important;
  border-radius: 20px !important;
  margin-left: -10px !important;
  color: #fff;
  font-weight: 100;
}
.footer-logo {
  width: 17em;
}

div.ui.segment {
  background-color: #000;
}

div.ui.equal.width.grid p {
  color: #5f6262;
}

.footer-icons i {
  padding-right: 60px;
}

.footer-container {
  background-color: #000;
  color: #fff;
  padding: 6em 11.5em;
}

.footer-grid {
  padding-right: 6em !important;
}
